
<div class = 'data_container'>


  <form id="edit-book" method="post" action="/book/<%=@book.id%>">

    <p class = 'label'>Title<p>
    <input class = 'edit-book' type="text" name="title" value="<%=@book.title%>">
    <br>

    <p class = 'label'>Author<p>
    <input class = 'edit-book' type="text" name="author" value="<%=@book.author%>"><br>

    <p class = 'label'>Publication Year<p>
    <input class = 'edit-book' type="text" name="publication_year" value="<%=@book.publication_year%>"><br>

    <p class = 'label'>Number of Pages<p>
    <input class = 'edit-book' type="text" name="num_pages" value="<%=@book.pages%>"><br>

    <p class = 'label'>ebook?<p>

    <select name = "ebook">
      <option value="false">false</option>
      <option value= "true"
      <% if @book.is_ebook %>
      selected
      <%end%>>true</option>
    </select>
  <br>


    <input type="submit" class = 'edit-book submit' value="Save">
  </form>


  <form id="delete-book" method="post" action="/delete/<%=@book.id%>">
    <input type="submit" class = 'edit-book submit' value="Delete Forever">
  </form>


</div>

