<div class = 'content'>
  <p>Total books: <%= @num_books %> </p>
  <p>Total pages: <%= @num_pages %> </p>
  <p>Longest Book: <%= @most_pages %> pages </p>
  <p>Shortest Book: <%= @fewest_pages %> pages </p>

  <!-- TURN THIS INTO A BAR GRAPH -->
  <p>Most popular authors</p>
  <% @popular_authors.each do |author| %>
    <p><%=author[0]%>: <%=author[1]%> books </p>
  <%end%>


  <div id="publication_year" style="width:100%; height:300px;"></div>
  <br><br><br>
  <div id="container" style="width:100%; height:300px;"></div><br><br>


</div>